html, body {
	height: 100%;
	font-family: 'Microsoft Yahei', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 6px;
	width: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #bbb;
}
